@font-face {
    font-family: Calibri;
    src: url(calibril.ttf);
}

.paper-card.mdl-card {
  flex-direction: row;
  width: 1024px;
  height: 1500px;
  box-sizing: content-box;
  background: #fff;

  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 28px;
}

.left-card.mdl-card {
  float: left;
  width: 30%;
  background: #6298CB;
}

.right-card.mdl-card {
  float: right;
  width: 70%;
  background: #E0E0E0;
}

.profile-card img {
  width: 80%;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);

  display: block;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.white-text {
  font-family: Calibri;
  color: #FFF;
}

.summary-container {
  display: table-row;
  top: 40px;
  position: relative;
}

.table-column {
  display: table-cell;
}

.white-icon {
  display: table-cell;
  color: #FFF;
  position: absolute;
  margin-left: 20px;
}

.white-details {
  display: block;
  color: #FFF;
  margin-left: 70px;
  margin-right: 20px;
  font-family: Calibri;
  font-size: 1.2rem;
}

.line-splitter {
  height: 1px;
  width: 100%;
  background: #5587B7;
  margin: 14px;
  margin-left: 70px;
  position: relative;
}

.name-tag {
  text-align: center;
  font-size: 3rem;
  margin: 0 auto;
  font-style: normal;
  font-weight: 600;
}

.designation-tag {
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  font-style: normal;
  font-weight: 200;
  margin: 0 auto;
}

.workexp-card {
  width: 90%;
  box-sizing: content-box;
  background: #fff;

  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 28px;
}

.grey-text {
  font-family: Calibri;
  color: #626262;
}

.blue-text {
  font-family: Calibri;
  color: #6298CB;
  text-decoration: none;
  font-style: normal;
}

.card-title-tag {
  text-align: left;
  font-size: 2rem;
  margin-top: 24px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 600;
}

.work {
  text-align: left;
  margin-left: 24px;
  font-style: normal;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
}

.exp {
  font-size: 1.2rem;
  font-weight: 200;
}

.summary {
  font-size: 1.0rem;
  font-weight: 100;
  line-height: 120%;
}

.highlights {
  font-size: 1.0rem;
  font-weight: 100;
  margin-left: 48px;
}

.line-splitter-grey {
  height: 1px;
  width: 100%;
  background: #CCC;
  margin: 14px;
  margin-left: 24px;
  position: relative;
}
