@font-face {
    font-family: Calibri;
    src: url(calibril.ttf);
}

.paper-card.mdl-card {
  flex-direction: row;
  width: 1024px;
  height: 2500px;
  box-sizing: content-box;
  background: var(--primaryColor);

  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 28px;
}

.left-card.mdl-card {
  float: left;
  width: 30%;
  background: var(--secondaryColor);
}

.right-card.mdl-card {
  float: right;
  width: 70%;
  background: var(--primaryDarkColor);
}

.profile-card img {
  width: 80%;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);

  display: block;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.white-text {
  font-family: Calibri;
  color: var(--primaryColor);
}

.summary-container {
  display: table-row;
  top: 40px;
  position: relative;
}

.table-column {
  display: table-cell;
}

.white-icon {
  display: table-cell;
  color: var(--primaryColor);
  position: absolute;
  margin-left: 20px;
}

.white-details {
  display: block;
  color: var(--primaryColor);
  margin-left: 70px;
  margin-right: 20px;
  font-family: Calibri;
  font-size: 1.2rem;
}

.line-splitter {
  height: 1px;
  width: 100%;
  background: var(--secondaryDarkColor);
  margin: 14px;
  margin-left: 70px;
  position: relative;
}

.name-tag {
  text-align: center;
  font-size: 3rem;
  margin: 0 auto;
  font-style: normal;
  font-weight: 600;
}

.designation-tag {
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  font-style: normal;
  font-weight: 200;
  margin: 0 auto;
}

.workexp-card {
  width: 93.5%;
  min-height: 100px;
  box-sizing: content-box;
  background: var(--primaryColor);

  margin-left: 24px;
  margin-right: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.grey-text {
  font-family: Calibri;
  color: #626262;
}

.blue-text {
  font-family: Calibri;
  color: var(--secondaryColor);
  text-decoration: none;
  font-style: normal;
}

.card-title-tag {
  text-align: left;
  font-size: 2rem;
  margin-top: 24px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
}

.work {
  text-align: left;
  margin-left: 24px;
  font-style: normal;
  margin-right: 24px;
}

.title {
  float: left;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 24px;
  margin-right: 0;
}

.exp {
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 12px;
}

.summary {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 120%;
}

.highlights {
  font-size: 1.2rem;
  font-weight: 100;
  margin-left: 32px;
  margin-top: 0;
}

.award-date {
  float: right;
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 24px;
  text-align: right;
  margin-right: 24px;
}

.title-icons {
  font-size: 26px;
}

.skill-title-tag {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 0 auto;
  margin-left: 24px;
  margin-top: 48px;
}

.skill-name {
  font-size: 1.4rem;
  margin: 0 auto;
  margin-left: 24px;
  margin-top:24px;
}

.mdl-chip {
  height: 24px;
  line-height: 24px;
  font-size: 10px;
  color: var(--primaryColor);
  background-color: #7EAAD4;
}

.keyword-cards {
  margin-left: 24px;
  margin-right: 24px;
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction:initial;
}

.volunteer-card {
  width: 45%;
  height: 220px;
  box-sizing: content-box;
  background: var(--primaryColor);

  margin-left: 24px;
  margin-right: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.volunteer-highlights {
  font-size: 1.0rem;
  font-weight: 100;
  margin-left: 0px;
  margin-right: 12px;
  margin-top: 12px;
}

.edu-digree {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 auto;
  margin-left: 24px;
}

.edu-institution {
  font-size: 1.0rem;
  margin: 0 auto;
  margin-left: 24px;
}

:root {
  --primaryColor: #fff;
  --primaryDarkColor: #E0E0E0;
  --secondaryColor: #6298CB;
  --secondaryDarkColor: #5587B7;

  --sliderHeight: 2px;
  --sliderThumbSize: 16px;
  --sliderThumbRadius: 8px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 80%;
  margin-left: 24px;
  margin-right: 24px;
}

input[type=range]{
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--sliderHeight);
  background: var(--secondaryDarkColor);
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  border: 0px solid #000000;
  height: var(--sliderThumbSize);
  width: var(--sliderThumbSize);
  border-radius: var(--sliderThumbRadius);
  background: var(--primaryColor);
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus {
  outline: none;  
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--primaryColor);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: var(--sliderHeight);
  cursor: pointer;
  animate: 0.2s;
  background: var(--primaryColor);
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-progress {
  width: 100%;
  height: var(--sliderHeight);
  cursor: pointer;
  animate: 0.2s;
  background: var(--primaryColor);
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  border: 0px solid #000000;
  height: var(--sliderThumbSize);
  width: var(--sliderThumbSize);
  border-radius: var(--sliderThumbRadius);
  background: var(--primaryColor);
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: var(--sliderHeight);
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 20px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--secondaryDarkColor);
  border: 0px solid #000101;
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: var(--primaryColor);
  border: 0px solid #000101;
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  border: 0px solid #000000;
  height: var(--sliderThumbSize);
  width: var(--sliderThumbSize);
  border-radius: var(--sliderThumbRadius);
  background: var(--primaryColor);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--secondaryDarkColor);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--primaryColor);
}
